
upstream tomcat {
server 127.0.0.1:8443 fail_timeout=0;
}

server {
listen 80 default_server;
server_name _;
return 301 https://$host$request_uri;
}

server {
listen 443 ssl http2;

ssl_certificate /etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem;

error_log /var/log/nginx/tomcat-error.log;
access_log /var/log/nginx/tomcat-access.log;

location / {
proxy_redirect off;
proxy_pass http://tomcat;
 }
}
